<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myvuee</title>
    <style>

</style>

   <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <div id="app">
    {{title}}
    <div class="list_title">
        <ul>
          <li>商品信息</li>
          <li>商品金额</li>
          <li>商品数量</li>
          <li>总金额</li>
          <li>编辑</li>
        </ul>
       </div>
       <div class="list_items">
           <div class="item"  v-for="item in prolist">
              <div class="item_info">
                  <input type="checkbox" name="checkitem" :checked="item.check" @click="checkitem(item)">
                  <img  alt="" :src="item.proimg">
                  <span class="iname">{{item.proname}}</span>
                  <span class="present">
                     赠品：<br>
                    <span v-for="part in item.parts">{{part.partsname}}&nbsp&nbsp</span>
                  </span>
              </div>
              <div class="item_price"> {{item.proprice | formatmoney}}</div>
              <div class="item_count">
                  <input type="number" name="itemcount" min="0" :value="item.procount" v-model="item.procount" @change="calculateTotalMoney()">
              </div>
              <div class="item_totleprice">{{item.proprice*item.procount | formatmoney}}</div>
              <div class="item_edit">
                 <a href="javascript:void(0);" class="delete">删除</a>
              </div>
           </div>
       </div>
       <div class="list_submit">
        <input type="checkbox" name="checkall" :checked="pcheckall" class="checkall" @click="checkall()">
        <a href="javascript:void(0);" class="selectall red">全部选择</a>
        <a href="javascript:void(0);" class="canselselect">取消全选</a>
        <a href="javascript:void(0);" class="pay">立即支付</a>
        <span class="totleprice">总计：{{totalMoney | formatmoney}}</span>
       </div>
   
       <!-- 对话框遮罩 -->
       <div class="model_cover"></div>
       <!-- 删除对话框 -->
         <div class="model_delete model_box">
               <p class="model_title">
                   确定要狠心删除嘛%>_<%
               </p>
               <div class="buttonarea">
               <button class="btn_yes">删除吧</button>
               <button class="btn_cancel">算了╮(╯▽╰)╭</button>
               </div>
               <a href="javascript:void(0);" class="btn_close">X</a>
         </div>
       <!-- 删除对话框end-->
       </div>
  </body>

  <script src="js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
  <script>

Vue.use(VueResource);
/* eslint-disable no-new */
var vm = new Vue({
  el: '#app',
  data: {
        "title":"haha",
        prolist:[],
        totalMoney:"",
        count:0,
        pcheckall:true
    },
  compute:{
    
  },
     mounted:function(){   
           this.cartView();
  },

  filters: {
            formatmoney: function (value) {
              if (!value) return "￥0.00";
              return "￥"+value.toFixed(2);
            }
          },
  watch:{

  },
  methods:{
             cartView:function(){
                 let _this = this;
                 this.$http.get("data/jsondata.json",{}).then(res=>{
                       this.prolist = res.body.result.list;
                       this.totalMoney = res.body.result.totleMoney;
                       this.count= res.body.result.list.length;
                       console.log(res)
                 });
             },
             checkitem(item){
                if(!item.check)
                   {
                     item.check = true;
                   }
                   else {
                     item.check = false;
                   }
                 this.calculateTotalMoney();
             },
             checkall(){
                 var prolist = this.prolist;
                  if(this.pcheckall == undefined){
                    this.pcheckall = true;
                    }
                    this.pcheckall = !this.pcheckall;
                   
                    for(var i in prolist){
                       prolist[i].check =  this.pcheckall
                      }
                     this.calculateTotalMoney();
                  },
              calculateTotalMoney(){
                var prolist = this.prolist;
                var total = 0;
                for(var i in prolist){
                      if(prolist[i].check){
                      total += prolist[i].proprice * prolist[i].procount;
                      }
                    }
                 this.totalMoney = total;
              }
           }
})

  </script>
</html>
